src/main/webapp/wsdl/PesquisadorSoapWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.webservice.rcms.ufscar.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.webservice.rcms.ufscar.br" xmlns:intf="http://soap.webservice.rcms.ufscar.br" xmlns:tns1="http://modelo.webservice.rcms.ufscar.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.webservice.rcms.ufscar.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modelo.webservice.rcms.ufscar.br"/>
   <element name="getPesquisadores">
    <complexType/>
   </element>
   <element name="getPesquisadoresResponse">
    <complexType>
     <sequence>
      <element name="getPesquisadoresReturn" type="tns1:PesquisadorSoapResponseWrapper"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_PesquisadorResponse">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:PesquisadorResponse"/>
    </sequence>
   </complexType>
   <element name="deletePorId">
    <complexType>
     <sequence>
      <element name="pesquisadorId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePorIdResponse">
    <complexType>
     <sequence>
      <element name="deletePorIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isUsuarioAdministrador">
    <complexType>
     <sequence>
      <element name="pesquisadorId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isUsuarioAdministradorResponse">
    <complexType>
     <sequence>
      <element name="isUsuarioAdministradorReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPesquisadorPorId">
    <complexType>
     <sequence>
      <element name="pesquisadorId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPesquisadorPorIdResponse">
    <complexType>
     <sequence>
      <element name="getPesquisadorPorIdReturn" type="tns1:PesquisadorSoapResponseWrapper"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modelo.webservice.rcms.ufscar.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.webservice.rcms.ufscar.br"/>
   <complexType name="Response">
    <sequence/>
   </complexType>
   <complexType name="EnderecoResponse">
    <complexContent>
     <extension base="tns1:Response">
      <sequence>
       <element name="enderecoProfissional" nillable="true" type="xsd:string"/>
       <element name="enderecoProfissionalLatitude" nillable="true" type="xsd:double"/>
       <element name="enderecoProfissionalLongitude" nillable="true" type="xsd:double"/>
       <element name="idEndereco" nillable="true" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PesquisadorResponse">
    <complexContent>
     <extension base="tns1:Response">
      <sequence>
       <element name="codigoLattes" nillable="true" type="xsd:string"/>
       <element name="email" nillable="true" type="xsd:string"/>
       <element name="endereco" nillable="true" type="tns1:EnderecoResponse"/>
       <element name="flagAdministrador" type="xsd:boolean"/>
       <element name="idUsuario" nillable="true" type="xsd:long"/>
       <element name="login" nillable="true" type="xsd:string"/>
       <element name="nome" nillable="true" type="xsd:string"/>
       <element name="resumoProfissional" nillable="true" type="xsd:string"/>
       <element name="senha" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PesquisadorSoapResponseWrapper">
    <complexContent>
     <extension base="tns1:Response">
      <sequence>
       <element name="pesquisador" nillable="true" type="impl:ArrayOf_tns1_PesquisadorResponse"/>
       <element name="totalRows" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPesquisadoresRequest">

      <wsdl:part element="impl:getPesquisadores" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePorIdRequest">

      <wsdl:part element="impl:deletePorId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPesquisadorPorIdRequest">

      <wsdl:part element="impl:getPesquisadorPorId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPesquisadorPorIdResponse">

      <wsdl:part element="impl:getPesquisadorPorIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isUsuarioAdministradorResponse">

      <wsdl:part element="impl:isUsuarioAdministradorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePorIdResponse">

      <wsdl:part element="impl:deletePorIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPesquisadoresResponse">

      <wsdl:part element="impl:getPesquisadoresResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isUsuarioAdministradorRequest">

      <wsdl:part element="impl:isUsuarioAdministrador" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PesquisadorSoapWebService">

      <wsdl:operation name="getPesquisadores">

         <wsdl:input message="impl:getPesquisadoresRequest" name="getPesquisadoresRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPesquisadoresResponse" name="getPesquisadoresResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePorId">

         <wsdl:input message="impl:deletePorIdRequest" name="deletePorIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletePorIdResponse" name="deletePorIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isUsuarioAdministrador">

         <wsdl:input message="impl:isUsuarioAdministradorRequest" name="isUsuarioAdministradorRequest">

       </wsdl:input>

         <wsdl:output message="impl:isUsuarioAdministradorResponse" name="isUsuarioAdministradorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPesquisadorPorId">

         <wsdl:input message="impl:getPesquisadorPorIdRequest" name="getPesquisadorPorIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPesquisadorPorIdResponse" name="getPesquisadorPorIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PesquisadorSoapWebServiceSoapBinding" type="impl:PesquisadorSoapWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPesquisadores">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPesquisadoresRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPesquisadoresResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePorId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletePorIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletePorIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isUsuarioAdministrador">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isUsuarioAdministradorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isUsuarioAdministradorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPesquisadorPorId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPesquisadorPorIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPesquisadorPorIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PesquisadorSoapWebServiceService">

      <wsdl:port binding="impl:PesquisadorSoapWebServiceSoapBinding" name="PesquisadorSoapWebService">

         <wsdlsoap:address location="http://localhost:8080/RCMS/services/PesquisadorSoapWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
