src/main/webapp/wsdl/PesquisadorSoapWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.webservice.rcms.ufscar.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.webservice.rcms.ufscar.br" xmlns:intf="http://soap.webservice.rcms.ufscar.br" xmlns:tns1="http://modelo.webservice.rcms.ufscar.br" xmlns:tns2="http://core.rs.ws.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.webservice.rcms.ufscar.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modelo.webservice.rcms.ufscar.br"/>
   <import namespace="http://core.rs.ws.javax"/>
   <element name="getPesquisadorPorId">
    <complexType>
     <sequence>
      <element name="pesquisadorId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPesquisadorPorIdResponse">
    <complexType>
     <sequence>
      <element name="getPesquisadorPorIdReturn" type="tns1:PesquisadorResponseWrapper"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modelo.webservice.rcms.ufscar.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://core.rs.ws.javax"/>
   <complexType name="Response">
    <sequence/>
   </complexType>
   <complexType name="ResponseWrapper">
    <complexContent>
     <extension base="tns1:Response">
      <sequence>
       <element name="status" nillable="true" type="xsd:anyType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PesquisadorResponseWrapper">
    <complexContent>
     <extension base="tns1:ResponseWrapper">
      <sequence>
       <element name="totalRows" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPesquisadorPorIdRequest">

      <wsdl:part element="impl:getPesquisadorPorId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPesquisadorPorIdResponse">

      <wsdl:part element="impl:getPesquisadorPorIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PesquisadorSoapWebService">

      <wsdl:operation name="getPesquisadorPorId">

         <wsdl:input message="impl:getPesquisadorPorIdRequest" name="getPesquisadorPorIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPesquisadorPorIdResponse" name="getPesquisadorPorIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PesquisadorSoapWebServiceSoapBinding" type="impl:PesquisadorSoapWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPesquisadorPorId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPesquisadorPorIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPesquisadorPorIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PesquisadorSoapWebServiceService">

      <wsdl:port binding="impl:PesquisadorSoapWebServiceSoapBinding" name="PesquisadorSoapWebService">

         <wsdlsoap:address location="http://localhost:8080/RCMS/services/PesquisadorSoapWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
